* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "nav main";
}

/* Nav Bar */

#navbar-container {
    background-color: #AB46D2;
    height: 100vh;
    width: 20%;
    grid-area: nav;
}

#navbar {
    list-style-type: none;
    overflow: hidden;
}

#navbar-container > #navbar > li a {
    display: block;
    border: 15%;
    padding: 15%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky {
    padding-top: 60px;
}

/* Right of Nav Bar */

main {
    grid-area: main;
}

.header-intro {
    display: flex;
    margin: 15% 0 0 20%;
    width: 100%;
}

#right-header-headshot {
    border-radius: 50%;
}

.right-header-intro-info {
    margin: 10% 0 5% 10%;
    width: 20%;
}