/* Whole Website Start */

:root {
    --darker-purple: #8021a9;
    --dark-purple: #8946A6;
    --medium-purple: #B762C1;
    --purple: #EA99D5;
    --pink: #CE7BB0;
    --light-purple: #FFCDDD;
    --mauve: #C996CC;
    --white: white;
    --black: #000000;
}

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "nav main";
    background: linear-gradient(to top, var(--mauve));
}

@media screen and (max-width: 1200px) {
    * {
        color: green;
    }
}

/* Whole Website End */

/* Nav Bar Start */

#navbar-container {
    background-color: var(--light-purple);
    height: 100vh;
    width: 20%;
    grid-area: nav;
    
}

#navbar {
    list-style-type: none;
    font-weight: bold;
}

#navbar > li > a {
    text-decoration: none;
    color: var(--darker-purple);
}

#navbar > li > a:hover {
    color: black;
    font-size: 22px;
}

#navbar-container > #navbar > li a {
    display: block;
    border: 15%;
    padding: 15%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky {
    padding-top: 60px;
}

@media screen and (min-width: 1500px) {
    #navbar > li > a {
        /* color: black; */
        font-size: 30px;
    }

    #navbar > li > a:hover {
        color: black;
        font-size: 33px;
    }

    #navbar-container > #navbar > li a {
        display: block;
        border: 15%;
        padding: 20%;
    }
}

@media screen and (min-width: 2000px) {
    #navbar-container > #navbar > li a {
        display: block;
        border: 15%;
        padding-left: 35%;
        padding-top: 20%;
    }

    #navbar > li > a:hover {
        color: black;
        font-size: 33px;
    }
    
    #navbar-container > #navbar > li a {
        display: block;
        border: 15%;
        padding-left: 30%;
        padding-top: 25%;
    }
}

/* Nav Bar End */

/* Name Introduction Start */

main {
    grid-area: main;
}

.intro {
    background: url(https://i.imgur.com/VXHoX3Y.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 3em;
    text-align: center;
    position: relative;
}

#intro-name {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    -webkit-text-stroke: 2px white;
}

@media screen and (min-width: 1500px) {
    #intro-name {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40%;
        text-align: center;
        -webkit-text-stroke: 2px white;
    }
}

/* Name Introduction End */

/* About Me Start*/

.about-me-container {
    background: linear-gradient(to top, var(--mauve) 0%, var(--pink) 100%);
    text-align: center;
    position: relative;
}

.about-me {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.about-me-container > h1 {
    z-index: auto;
    position: absolute;
    top: 10%;
    font-size: 40px;
}

#headshot-picture {
    border-radius: 25%;
}

.about-me-paragraph {
    width: 50%;
    margin-left: 7%;
    font-size: 23px
}

.about-me-paragraph > p {
    font-weight: bold;
}

.about-me-paragraph, #headshot-picture {
    margin-top: 15%;
}

#about-me-icons {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-me-icons > a {
    color: var(--darker-purple) !important;
}

@media screen and (min-width: 1500px) {
    .about-me-paragraph {
        font-size: 30px;
    }
}

/* About Me End */

/* Skills Start */

.skills-container {
    background: linear-gradient(to top, var(--purple) 0%, var(--mauve) 100%);
    position: relative;
}

.skills-container > h1 {
    z-index: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8%;
    font-size: 40px;
}

.skills {
    padding-top: 20%;
}

.skills-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.skills-card {
    width: 20%;
    border-radius: 25%;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    border-radius: 25%;
    text-align: center;
    padding: 50px 10px;
    background-color: var(--medium-purple);
    color: var(--white);
}

.skills-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .skills-card {
        width: 50%;
    }
}

@media screen and (max-width: 620px) {
    
    .skills-container {
        width: 100%;
    }

    .card-header {
        padding: 20px;
        font-size: 20px;
    }
    
    .skills-card {
        width: 80%;
    }
}

/* Skills Start */

/* Projects Start */

.projects-container {
    background-color: var(--purple)
}

.projects-container > h1 {
    font-size: 40px;
    padding-top: 5%;
}

.projects-container > .projects > a {
    text-decoration: none;
    color: inherit;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 2rem;
    margin-top: 10%;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, calc(20rem + 2vw), 17rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.project-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.project-body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.project-footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.tech-stack {
    display: flex;
    gap: .5rem;
}

.tech-stack-info > small {
    color: #666;
}

/* Projects End */

/* Contact Start */

.contact-container {
    background-color: var(--medium-purple);
    background: linear-gradient(to top, var(--medium-purple) 0%, var(--purple) 100%);
}

.contact {
    display: flex;
}

.contact-title {
    flex: 1;
    padding: 50px;
}

.contact-title.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    position: relative;
    color: var(--darker-purple);
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--darker-purple);
}

.app-contact {
    margin-top: auto;
    font-size: 17px;
    color: var(--darker-purple);
    font-weight: bold;
    font-size: 22px;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-size: 18px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: var(--darker-purple);
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: var(--black);
}

@media screen and (max-width: 520px) {
    .contact {
        flex-direction: column;
    }

    .contact-title.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title h1 {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        padding: 40px;
    }

    .contact-title {
        padding: 0;
    }
}

/* Contact End */