:root {
    --dark-purple: #8946A6;
    --medium-purple: #B762C1;
    --purple: #EA99D5;
    --pink: #CE7BB0;
    --light-purple: #FFCDDD;
    --mauve: #C996CC;
    --white: white;
}

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "nav main";
}

/* Nav Bar */

#navbar-container {
    background-color: var(--light-purple);
    height: 100vh;
    width: 20%;
    grid-area: nav;
    
}

#navbar {
    list-style-type: none;
    font-weight: bold;
}

#navbar > li > a {
    text-decoration: none;
}

#navbar > li > a:hover {
    color: black;
    font-size: 24px;
}

#navbar-container > #navbar > li a {
    display: block;
    border: 15%;
    padding: 15%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky {
    padding-top: 60px;
}

/* Name Introduction */

main {
    grid-area: main;
}

.intro {
    background: url(https://i.imgur.com/VXHoX3Y.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-size: 3em;
    text-align:center;
}

#intro-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* About Me */

.about-me-container {
    /* background-color: var(--pink); */
    background: linear-gradient(to top, var(--mauve) 0%, var(--pink) 100%);
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 7% 7% 0 0;
    height: auto;
}

.about-me-paragraph {
    width: 50%;
    margin-left: 10%;
}

/* Skills  */

.skills-container {
    /* background-color: var(--mauve); */
    background: linear-gradient(to top, var(--purple) 0%, var(--mauve) 100%);
}

.skills-list {
    list-style-type: none;
}

/* Projects */

.projects-container {
    background-color: var(--purple)
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    /* margin-block: 2rem; */
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info > small {
    color: #666;
}

/* Contact  */

.contact-container {
    /* background-color: var(--medium-purple); */
    background: linear-gradient(to top, var(--medium-purple) 0%, var(--purple) 100%);
    display: flex;
}

.contact-info, .contact-form {
    margin: 10% 15% 10% 0; 
}